@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
   font-family: "Open Sans", sans-serif;
}


/* shared style */

.text-primary{
   color: blue;
}
.dark-2{
   color: #474747;
}

.btn-primary{
   background-color: blue;
   color: #ffffff;
   border-radius: 5px;
   font-size: 20px;
   padding: 18px 35px;
   border: none;
}

/* header */

.header{
   background-image: url('../img/developer.png'), url('../img/header_bg.png');
   background-repeat: no-repeat;
   background-position: top left, right bottom;
   
}



/* nav CSs */
nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 50px 200px;
}
.nav-title{
   font-size: 40px;
   font-weight: 800px;
}
nav ul{
   display: flex;
   align-items: center;
}

nav ul li{
   list-style: none ;
   margin: 0 50px;

}

nav ul li a{
   text-decoration: none;
   font-size: 20px;

}

/* Banner CSS */

.banner{
   display: flex;
   justify-content: space-between;
   margin: 0px 35px 0px 200px;
}

.banner-content{
   max-width: 580px;
}

.banner-image{
   max-width: 580px;
}
.banner-gretings{
   font-size: 45px;  
   font-weight: 600px;
}

.banner-title{
   font-size: 85px;

}
#banner-btn{
   margin-right: 30px;
   margin-top: 20px;
}